Repository IvanRuskevych/test-automaze: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
  ],

  "*.{json,md,mdx,yml,yaml,css,scss,html}": [
    "prettier --write"
  ]
}

feat(docker): add docker-compose.yml for postgresql db
  packages/backend/docker-compose.yml
Due: prettier --write

feat(prisma): initialize Prisma and add prismaClient singleton
  packages/backend/package.json
  packages/backend/prisma/schema.prisma
  packages/backend/src/prisma/client.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

feat(prisma): add schema.prisma with Todo & Category models
  packages/backend/prisma/migrations/20250930155358_init/migration.sql
  packages/backend/prisma/migrations/migration_lock.toml
  packages/backend/prisma/schema.prisma
Due: none

feat(prisma): add task & category repositories
  packages/backend/src/repositories/category.ts
  packages/backend/src/repositories/index.ts
  packages/backend/src/repositories/task.ts
Due: eslint --fix --max-warnings=0

feat(graphql): add Task & Category types, inputs, queries and mutations
  packages/backend/src/graphql/typeDefs/base.graphql
  packages/backend/src/graphql/typeDefs/category.graphql
  packages/backend/src/graphql/typeDefs/index.ts
  packages/backend/src/graphql/typeDefs/task.graphql
Due: eslint --fix --max-warnings=0

fix(prisma): task category relation
  packages/backend/prisma/migrations/20251001080434_init/migration.sql
  packages/backend/prisma/schema.prisma
Due: none

refactor(repository): update categoryRepository methods to arrow functions
  packages/backend/src/repositories/category.ts
Due: eslint --fix --max-warnings=0

feat(repository): add findManyWithFilters to taskRepository
  packages/backend/src/repositories/task.ts
Due: eslint --fix --max-warnings=0

fix(graphql): change id to categoryId and taskId
  packages/backend/src/graphql/typeDefs/category.graphql
  packages/backend/src/graphql/typeDefs/task.graphql
Due: none

build(graphql): add codegen and generate graphql types
  .gitignore
  packages/backend/codegen.ts
  packages/backend/package.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

chore(lint): update lint-staged config and husky pre-commit hook
  .husky/pre-commit
  .lintstagedrc
  eslint.config.js
Due: eslint --fix --max-warnings=0

feat(errors): setup error handling system (ErrorCatalog, ApiErrors, formatGraphQLError)
  packages/backend/package.json
  packages/backend/src/utils/errors/ApiErrors.ts
  packages/backend/src/utils/errors/ErrorCatalog.ts
  packages/backend/src/utils/errors/createGraphQLError.ts
  packages/backend/src/utils/errors/formatGraphQLError.ts
  packages/backend/src/utils/errors/index.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

feat(graphql): add typeDefs and resolvers for Tasks with ApolloServer setup
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.ts
  packages/backend/src/graphql/typeDefs/index.ts
  packages/backend/src/graphql/typeDefs/task.graphql
  packages/backend/src/main.ts
  packages/backend/src/shared/const/routes.ts
Due: eslint --fix --max-warnings=0

feat(schema): add TaskSchema, UuidSchema and validateInputSchema
  packages/backend/src/utils/index.ts
  packages/backend/src/utils/validateInput.ts
  packages/backend/src/validation/id.schema.ts
  packages/backend/src/validation/index.ts
  packages/backend/src/validation/task.schema.ts
Due: eslint --fix --max-warnings=0

feat(task): implement tasks repository, service and GraphQL resolvers
  packages/backend/src/graphql/resolvers/task.resolvers.ts
  packages/backend/src/repositories/index.ts
  packages/backend/src/repositories/tasks.repository.ts
  packages/backend/src/services/task.service.ts
  packages/backend/src/utils/index.ts
  packages/backend/src/utils/tasks.ts
Due: eslint --fix --max-warnings=0

feat(graphql): add typeDefs for Categories
  packages/backend/src/graphql/typeDefs/category.graphql
Due: none

feat(schema): add CategorySchema
  packages/backend/src/validation/category.schema.ts
  packages/backend/src/validation/index.ts
Due: eslint --fix --max-warnings=0

feat(category): implement categories repository, service and GraphQL resolvers
  packages/backend/src/graphql/resolvers/category.resolvers.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/task.resolvers.ts
  packages/backend/src/repositories/categories.repository.ts
  packages/backend/src/repositories/index.ts
  packages/backend/src/services/category.service.ts
  packages/backend/src/services/index.ts
Due: eslint --fix --max-warnings=0

feat(services): add generic getEntityOrFail and include relations in services
  packages/backend/src/prisma/client.ts
  packages/backend/src/services/category.service.ts
  packages/backend/src/services/task.service.ts
  packages/backend/src/utils/tasks.ts
Due: eslint --fix --max-warnings=0

feat(apollo): configure Apollo Client and initialize in main.ts
  packages/frontend/package.json
  packages/frontend/src/.env.example
  packages/frontend/src/apollo/client.ts
  packages/frontend/src/main.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

feat(graphql): add task and category queries & mutations
  packages/frontend/src/graphql/mutations/categories.ts
  packages/frontend/src/graphql/mutations/index.ts
  packages/frontend/src/graphql/mutations/tasks.ts
  packages/frontend/src/graphql/queries/categories.ts
  packages/frontend/src/graphql/queries/index.ts
  packages/frontend/src/graphql/queries/tasks.ts
Due: eslint --fix --max-warnings=0

feat(service): add task and category services
  packages/frontend/src/service/category.service.ts
  packages/frontend/src/service/index.ts
  packages/frontend/src/service/task.service.ts
Due: eslint --fix --max-warnings=0

feat(type): add task and category types
  packages/frontend/src/types/category.type.ts
  packages/frontend/src/types/task.type.ts
Due: eslint --fix --max-warnings=0

feat(utils): add apollo error handler and react-toastify notification
  packages/frontend/src/utils/apolloError.ts
  packages/frontend/src/utils/index.ts
  packages/frontend/src/utils/notify.ts
Due: eslint --fix --max-warnings=0

feat(store): add task and category stores
  packages/frontend/src/store/category.store.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/task.store.ts
Due: eslint --fix --max-warnings=0

feat(category): add category selector component
  packages/frontend/src/components/CategorySelector.tsx
Due: eslint --fix --max-warnings=0

feat(task): add TaskItem, TaskFilters, TaskForm, TaskList components
  packages/frontend/src/components/CategorySelector.tsx
  packages/frontend/src/components/TaskFilters.tsx
  packages/frontend/src/components/TaskForm.tsx
  packages/frontend/src/components/TaskItem.tsx
  packages/frontend/src/components/TaskList.tsx
  packages/frontend/src/components/index.ts
Due: eslint --fix --max-warnings=0

feat(task): add EditTaskModal component
  packages/frontend/src/components/EditTaskModal.tsx
Due: eslint --fix --max-warnings=0

feat(page): add Home page component
  packages/frontend/src/pages/Home.tsx
Due: eslint --fix --max-warnings=0

feat(app): update app component
  packages/frontend/src/App.tsx
Due: eslint --fix --max-warnings=0

chore: remove unnecessary code
  packages/frontend/src/App.css
  packages/frontend/src/components/TestComponent.tsx
  packages/frontend/src/index.css
Due: eslint --fix --max-warnings=0, prettier --write

chore(backend): remove unnecessary code
  packages/backend/src/config/env.ts
  packages/backend/src/main.ts
Due: eslint --fix --max-warnings=0

feat(readme): update readme file
  README.md
  packages/frontend/docs/001.png
  packages/frontend/docs/002.png
  packages/frontend/index.html
Due: prettier --write

fix(frontend): fix path for UUID type and .env.example file
  packages/backend/.env.example
  packages/frontend/src/service/task.service.ts
Due: eslint --fix --max-warnings=0

feat(seed): add task and category seeds
  packages/backend/package.json
  packages/backend/src/prisma/seed.ts
Due: eslint --fix --max-warnings=0, prettier --write
